* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(235, 205, 165);
}

.beer-container{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 15px;
}

#allbeers-img{
    
    height: 80px;
    position: absolute;
    left: 30px;
    margin-top: 20px;
}

.beers-info{
    display: flex;
    flex-direction: column;
    /* position: absolute;
    left: 100px; */
    align-items: center;
    gap: 10px;
}



